* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: aliceblue;
    height: 500px;
}

/*------------------------------  Design in Header  --------------------------------------------------------------*/
header {
    color: white;
    display: flex;
    margin: auto;
    height: 140px;
    align-items: center;
    background-color: rgb(4, 40, 63);
}

.logo-img {
    height: 140px;
}

.logo-phrase {
    color: rgb(224, 191, 0);
}

.logo {
    flex: 2;
}
nav {
    flex: 2;
}

.signUp-btn{
    flex: 1;
    height: 30px;
    width: 100px;
    position: relative;
    right: 45px;
    border:none;
    border-radius: 40px;
    background-color: rgb(0, 162, 255);
}

.signUp-btn:hover{
    height: 40px;
    color: white;
}

.logo , nav , .signUp {
    display: flex;
    align-items: center;
}
.btn:hover {
    height: 40px;
    background-color: rgb(0, 155, 245);
    color: white;
}
.btn {
    font-family: calibri;
    font-size: 15px;
    color:black;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

/*------------------------------  Design in Body / Content  --------------------------------------------------------------*/

.content {  
    
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.about 
{
  position: relative;
  max-width: 1349px;
  height: 450px;
  margin: 0 auto;
}
.about-img {
  vertical-align: middle;
  height: 300px; 

}
.about-txt {
   margin-top: 50px;


}
.about .about-txt {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  padding: 20px; 
  text-align: left;
  margin-left: 40px;

}
h1 {
    font-size: 40px;
    font-family: Times New Roman;
}

#about-btn {
    color: white;
    height: 40px;
    width: 120px;
    background-color: rgb(105, 11, 194);
}


/*--------------------------------------  Design in Footer  --------------------------------------------------------------*/

.footer-box {
    height: 250px;
    background-color: rgb(4, 40, 63);
}

.details {
    position: relative;
    left: 250px;
    color: white;
    display: flex;

}

.copyright , .logout {
    flex: 1;
}

.end {
    height: 20px;
    background-color: rgb(133, 130, 0);
}