* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: aliceblue;
    height: 100px;
}

/*------------------------------  Design in Header  --------------------------------------------------------------*/
header {
    color: white;
    display: flex;
    margin: auto;
    height: 140px;
    align-items: center;
    background-color: rgb(4, 40, 63);
}

.logo-img {
    height: 140px;
}

.logo-phrase {
    color: rgb(224, 191, 0);
}

.logo {
    flex: 2;
}
nav {
    flex: 2;
}

.signUp-btn{
    flex: 1;
    height: 30px;
    width: 100px;
    position: relative;
    right: 45px;
    border:none;
    border-radius: 40px;
    background-color: rgb(0, 162, 255);
}

.signUp-btn:hover{
    height: 40px;
    color: white;
}

.logo , nav , .signUp {
    display: flex;
    align-items: center;
}
.btn:hover {
    color: white;
    background-color: rgb(0, 155, 245);
}
.btn {
    font-family: calibri;
    font-size: 15px;
    color:black;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

#contactus-btn {
    color: white;
    height: 40px;
    width: 120px;
    background-color: rgb(105, 11, 194);
}
/*------------------------------  Design in Body / Content  --------------------------------------------------------------*/

.content {  
    
    height: 1200px;
    background-color: rgb(255, 255, 255);
}

.image-box {
    display: flex;
    padding: 20px;
}

.image {
    max-height: 440px;
}

.reminder {
    font-size: 20px;
    font-family: calibri;
    margin: 40px 40px 40px 60px;
    padding: 70px;
    text-align: center;
}
.details {
    position: relative;
    padding: 30px;
}


.divb {
	background-color: rgb(4, 40, 63);
	float: left;
	height: 500px;
	width: 500px;
}	
.divc {
	background-color: rgb(244, 244, 244);
	float: right;
	height: 500px;
	width: 500px;
}	
table {
	border: collapse;
}

input[type=submit] {
		  background-color: white;
		  font-family: calibri;
		  color: black;
		  padding: 12px 30px;
		  border: none;
		  cursor: pointer;
		   display: block;
		margin-left: auto;
		margin-right: auto;
		animation-name: example;
  animation-duration: 30s;
		
		  
		}

input[type=submit]:hover {
		  background-color: yellow;
		  color: black;
		}
input[type=text], select, textarea {
		  width: 300px;
		  padding: 10px;
		  background:transparent;
		  border: none;
		border-bottom: 1px solid rgb(0, 0, 0);
		}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50px; 
  height:50px;
}
.leaveMessage{
    padding: 20px;
    margin: 0px;
    position: relative;
    top: -20px;
    left: -60px;
    border-bottom: 1px solid white;
    color:rgb(0, 0, 0);
}

.mess {
    text-align: center;
}

.submit-btn {
    position: relative;
    top: 40px;
    width: 300px;
}

.socialm {
	text-align:center;
  color:white;
  font-family:cottonwood;
  font-size:20px;
}
@keyframes example {
   0%   {background-color: skyblue;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}


/*--------------------------------------  Design in Footer  --------------------------------------------------------------*/

.footer-box {
    height: 250px;
    background-color: rgb(4, 40, 63);
}


.footer-content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    color: white;
}

.uname {
    color: rgb(236, 130, 0);
}

.end {
    height: 20px;
    background-color: rgb(133, 130, 0);
}
